
@{
    ViewBag.Title = "HomeLog";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">¡Bienvenido a MiParcialito!</h1>
        <p class="lead">Tu plataforma de aprendizaje en línea.</p>
        <hr class="my-4">
        <p>Explora nuestros cursos y comienza tu camino hacia el conocimiento.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home")" role="button">Explorar Cursos</a>
    </div>
</div>